body {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

text {
    text-anchor: middle;
}

.bar-charts, .pie-charts {
    margin: 0 auto;
    width: 90%;
}

.pie-charts div, .bar-charts div {
    display: inline-block;
    margin: 10px;
    border: 1px solid gray;
}

h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 10px;
    background-color: grey;
}

h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 10px;
    background-color: grey;
}