.head {
    margin-top:20px;
    margin-bottom:20px;
}

.head .form-group {
    margin-top: 10px;
}

.head h1, .head div {
    margin: 0;
}

.head .form-group > label {
    margin-top: 10px;
    text-align: right;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

text {
    text-anchor: middle;
}

.bar-charts, .pie-charts, .area-charts {
}

.pie-charts div, .bar-charts div, .area-charts div {
    border: 1px solid gray;
}

.area-charts path.area {
    fill: #D79066;
}

h2, h3 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

svg {
    font-size: 10px;
}